@font-face {
  font-family: 'Furore';
  src: url('../fonts/furore.eot');
  src: url('../fonts/furore?#iefix') format('embedded-opentype'),
  url('../fonts/furore.woff') format('woff'),
  url('../fonts/furore.ttf') format('truetype'),
  url('../fonts/furore.svg#Furore') format('svg');
  font-weight: 400;
  font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Furore', "Helvetica Neue", Helvetica, Arial, sans-serif;
    transition: .3s;
}

img {
  max-width: 100%;
}

body {
  height: 100vh;
}


/* Меню */

#header {
    width: 100%;
    height: 56px;
    background: #ec2e2e;
}

nav {
    display: flex;
    list-style: none;
    justify-content: center;
}

nav > li > a {
    display: block;
    text-decoration: none;
    font-size: 18px;
    color: #f2f2f2;
    padding: 17px;
}

nav > li > a:hover {
    background: #fff;
    color: #000;
}

#content {
    display: flex;
    flex-wrap: wrap;
}

/* Блоки */

.block {
  width: 20%;
  height: 232px;
  overflow: hidden;
  background-size: cover;
  background-position: 50%;
}

.block > * {
  display: none;
  visibility: hidden;
}

.block:hover {
    opacity: 0.5;
}

.gallery-menu {
  height: 1.2em;
  width: 100%;
  position: relative;
  display: block;
  color: #f2f2f2;
  padding: 17px;
  font-size: 18px;
  position: fixed;
  background: #ec2e2e;
}
.gallery-menu::after {
  content: '=';
  position: absolute;
}
.g-menu {
  transition: opacity 0.8s;
  width: 100%;
}
.g-menu.open {
  height: auto;
  display: flex;
  opacity: 1;
}
.gallery-close {
  position: absolute;
  top:0;
  right: 0;
  padding: 0.5em;
  color: #fff;
  font-size: 1.5em;
  text-decoration: none;
}


/* modal */
#overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}
#overlay:after {
  position: absolute;
  top: 0;
  left:0;
  bottom:0;
  right:0;
  content:'';
  background-color: rgba(127,127,127,0.8);
}
#gallery-modal {
  display: none;
  z-index: 1000;
  position: absolute;
  width: 50%;
  min-width: 300px;
  min-height: 3vh;
  max-height: 30vh;
  top: 25vh;
  left: 50%;
  margin-left: -25%;
  background-color: #fff;
  border-radius: 20px;
  padding: 1em;
  overflow: hidden;
  box-shadow: 0 0 20px 0 #555;
}
.modal-body {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
}
.modal-body .image {
  width: 30%;
  overflow: hidden;
  padding-right: 1em;
}
.modal-body .info {
  width: 70%;
  overflow-x: auto;
  height: 28vh;
  margin-top: 1em;
}
.modal-body .close {
  position: absolute;
  top: -1em;
  right: -0.5em;
  padding: 0.5em;
  color: #ccc;
  text-decoration: none;
  font-size: 1.5em;
  transition: 0.5s;
}
.modal-body .close:hover {
  color: #656565;
}

::-webkit-scrollbar {
  width: 0.5rem;
  background-color: #ccc;
}
::-webkit-scrollbar-thumb {
  background-color: #ec2e2e;
}

.hide {
  display: none;
}
.hide-lg {
  display: none;
}

/* Резина */

/* iPad */

@media (max-width: 1024px) {
    .block {
      width: 33.33%;
      outline: 2px solid #fff;
    }
}

@media (max-width: 768px) {
  .wrapper > nav {
    flex-direction: column;
  }

  .hide {
    display: block;
  }
  .hide-lg  {
    display: block;
  }
  .g-menu {
    height: 0;
    position: fixed;
    top:55px;
    left: 0;
    background: #ec2e2e;
    overflow: hidden;
    opacity: 0;
  }
}

@media (max-width: 480px) {
  .block {
    width: 50%;
  }
  .block:nth-child(3n) {
    width: 100%;
  }
}

@media (max-width: 320px) {
  .block {
    width: 100%;
  }
}
